@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

* {
  letter-spacing: 3px;
  line-height: 2.5;
  /* font-size: 0.875em; */
  /* background-image: linear-gradient(140deg, #ffffff 0%, #ffffff 50%, #ffffff 55%); */

  font-family: "Poppins", sans-serif !important;
}

header nav {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-image: linear-gradient(
    140deg,
    #f5b889 0%,
    #ffffff 50%,
    #ebeef4 55%
  );
}

.jumbo {

  height: 1000px;
  background: linear-gradient(70deg, rgb(242, 242, 255), rgb(208, 231, 240));
}

.jumbo img {
  width: 500px;
  position: relative; 
    margin-left: 750px;
    margin-top: 0px;
    /* animation:moveIn 4s; */
    animation:sideIn 4s;




}
/* 
 @keyframes moveIn {
  from {
      margin-left: 100%;
      width: 10px;
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
}  */

 @keyframes sideIn {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  80% {
      transform: translateX(10px);
  }
  100% {
      opacity: 9;
      transform: translatex(10px)
  }
}   




.jumbo p {
  padding: 90px;
  text-align: center;
  animation:sideInp 7s;
  


}
@keyframes sideInp {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  30% {
      transform: translateX(10px);
  }
  100% {
      opacity: 4;
      transform: tran
  }
}   


.jumbo .page2 {
  padding-left: 90px;
  padding-top: 5px;
  position: absolute;
  animation:sideInp2 7s;


}
@keyframes sideInp2 {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  30% {
      transform: translateX(10px);
  }
  100% {
      opacity: 4;
      transform: tran
  }
}   


.jumbo .page3 {
  padding-left: 90px;
  padding-top: 400px;
  position: absolute;
  animation:sideInp3 7s;



}
@keyframes sideInp3 {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  30% {
      transform: translateX(10px);
  }
  100% {
      opacity: 4;
      transform: tran
  }
}   


.section-two {
  display: grid;
  grid-template-columns: auto auto;
}

.section-two .left img {
  width: 600px;
  border-radius: 50%;
  animation: sectwo 4s;
  
}
@keyframes sectwo {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  30% {
      transform: translateX(10px);
  }
  100% {
      opacity: 4;
      transform: tran
  }
}   

.section-two .right {
  display: grid;
  align-content: center;
  animation:sectwop 4s;


}


@keyframes sectwop {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  30% {
      transform: translateX(10px);
  }
  100% {
      opacity: 4;
      transform: tran
  }
}   

.section-three {
  display: grid;
  grid-template-columns: auto auto;
}
.section-three .left {
  display: grid;
  align-content: center;
  animation:secthree 4s;


}


@keyframes secthree {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  30% {
      transform: translateX(10px);
  }
  100% {
      opacity: 4;
      transform: tran
  }
}   


.section-three .right img {
  width: 600px;
  border-radius: 50%;
  animation: sectreeimg 4s;
}

@keyframes sectreeimg {
  0% { 
      opacity: 0;
      transform: translateX(100px);
  }
  80% {
      transform: translateX(10px);
  }
  100% {
      opacity: 4;
      transform: tran
  }
}   

.section-four p {
  text-align: center;

  position: relative;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    #ffffff 50%,
    #fff4f4 55%
  );
  /* animation-fill-mode: forwards; */


}



.section-five {
  text-align: center;

}



.section-five > div img {
  width: 750px;
}


.section-six p {
  text-align:  center;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    #ffffff 50%,
    #fff4f4 55%
  );
}



.section-seven {
  text-align: center;
  animation-name: sectsevenp;
}

.section-six p {
  text-align:  center;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    #ffffff 50%,
    #fff4f4 55%
  );
}
.section-seven > div img {
  width: 750px;
}

.section-eight p {
  text-align:  center;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    #ffffff 50%,
    #fff4f4 55%
  );
}

.section-nine {
  display: grid;
  grid-template-columns: auto auto;
  background-image: linear-gradient(
    140deg,
    #a8d3ea 0%,
    #f2f1e5 50%,
    #d1dbef 55%
  );
}

.section-nine .left {
  display: grid;
  align-content: center;
}

.section-nine .right img {
  width: 600px;
}

.section-ten {
  display: grid;
  grid-template-columns: auto auto;
  background-image: linear-gradient(
    140deg,
    #e7edf0 0%,
    #e5eaf5 50%,

    #f0f0f0 50%
  );
}

.section-ten .left {
  display: grid;
  align-content: center;
}

.section-ten .right img {
  width: 600px;
}

.section-eleven p {
  text-align: center;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    #ffffff 50%,
    #fff4f4 55%
  );
}

.section-twelve {
  text-align: center;
}

.section-twelve > div img {
  width: 750px;
}

.section-thirteen p {
  text-align:  center;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    #ffffff 50%,
    #fff4f4 55%
  );
}

.section-fourteen {
  display: grid;
  grid-template-columns: auto auto;
}

.section-fourteen .left {
  display: grid;
  align-content: center;
}

.section-fourteen .right img {
  width: 600px;
}

.section-fifteen {
  display: grid;
  grid-template-columns: auto auto;
}

.section-fifteen .left img {
  width: 600px;
}

.section-fifteen .right {
  display: grid;
  align-content: center;
}

.jumbo-sixteen {
  text-align: center;
}

.jumbo-sixteen > div img {
  width: 750px;
}

.section-seventeen p {
  text-align:  center;
}

.jumbo-eighteen {
  text-align: center;
}

.jumbo-eighteen > div img {
  width: 750px;
}

.section-nineteen p {
  text-align:  center;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    #ffffff 50%,
    #fff4f4 55%
  );
}

#sec {
  background-image: linear-gradient(
    140deg,
    #fff0e9 0%,
    #ffffff 50%,
    #dde8d8 55%
  );

  height: 500px;
  background-size: cover;
}

footer .logo {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

footer .logo {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

footer .icon {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  display: inline-block;
  height: 10px;
  margin-left: 520px;
  color: black;
}

footer .text {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}




